{% extends 'shopify_images/main.html' %}

{% block content %}
    <h1>My Uploads</h1>

    {% include 'shopify_images/image_uploader.html' %}

    {% for image in all_user_images %}
        <div class="col-md-3 col-sm-4 col-xs-6">
          <a href="{{ image.image.url }}" class="thumbnail">
              <img src="{{ image.image.url }}" alt="Image" class="img-responsive" width="300px">
          </a>
        </div>
    {% empty %}
        <p>No images uploaded</p>
    {% endfor %}
{% endblock %}